<!DOCTYPE HTML>
<html>
<head>
<style>
.floating-box {
    float: left;
    width: 350px;
    height: 500px;
    margin: 5px;
    border: 3px solid #73AD21;
}

h2 {
  text-align:center;
}

p {
  text-align:center;
}

body {
  background:pink;
}

</style>
<title>About</title>
</head>
<body>
<div class="floating-box"><h2>Ivana</h2><p>something funnyomething funnyomething funnyomething funnyomething funnyomething funnyomething funny</p></div>
<div class="floating-box"><h2>Oge</h2><p>something funnyomething funnyomething funnyomething funny</p></div>
<div class="floating-box"><h2>Tatiana</h2><p>something funnyomething funnyomething funnyomething funny</p></div>

</body>
</html>
