<!DOCTYPE html>
<html>
<head>
  <link rel = "stylesheet" href ="front.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src= "front.js"> </script>
  <title>Dear Oge</title>
</head>

  <body>
  <div class="Sparkle", id= "coverBanner">
    <h1> Dear Oge </h1>
    <img class ="leftImage" src = "http://i.imgur.com/jjyEbO9.gif">
  </div>


    <ul>
      <li><a href="file:///Users/css/Documents/CSSI/dear_oge_final_project/ways_to_happy.html">Ways To Be Happy</a></li>
      <li><a href="#past">Past</a></li>
      <li><a href="#about">About</a></li>
    </ul>



    <div align="center">
      <h2> What would you like to ask Oge?</h2>
      <textarea name="message" rows="10" cols="30"></textarea>
      <br>
      <button onclick="question()">Submit</button>
    </div>






    <br>
    <br>
    <br>
    <br>

      <img class ="bodyImage" src = "http://i.imgur.com/jjyEbO9.gif">
        <div align="right">
          <h2> Oge Says:</h2>
          <textarea id="output" rows="27" cols="125">
        </textarea>
    </div>

    <script src="dearoge.js"></script>
  </body>
</html>
