<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/resources/front.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/resources/front.js">
  </script>
  <title>Dear Oge</title>
</head>

<body>
  <div id="coverBanner">
    <img class="leftImage" src="http://i.imgur.com/jjyEbO9.gif">
    <img class="rightImage" src="http://i.imgur.com/jjyEbO9.gif">
  </div>

  <div id ="music">
    <audio id="my_audio" src="bg.mp3" loop="loop"></audio>
  </div>



  <div class="Sparkle">
    <h1> Dear Oge </h1>
  </div>


  <ul>
    <li><a href="http://localhost:13080/">Ask your Question</a></li>
    <li><a href="http://localhost:13080/waystohappy">Ways To Be Happy</a></li>
    <li><a href="http://localhost:13080/past">Past</a></li>
    <li><a href="http://localhost:13080/about">About</a></li>
  </ul>


  <div align="center">
    <h2> What would you like to ask Oge?</h2>
    <form name="input_form" action="/" method="post">
      <textarea id = "text_area_box" name="message" rows="5" cols="75"></textarea>
      <br> Name: <input name="username" type="text"> </input>
      <br>
      <button onclick="question()">Submit</button>
    </form>
  </div>

  <br>
  <br>
  <br>
  <br>
  <div id="bottomFrontPage">
    <div id="leftBottomOge">
      <img class="bodyImage" src="http://24.media.tumblr.com/tumblr_lw0ifyBEDT1qhmibco1_500.gif">
    </div>

    <div id="responseBox">
      <h2> Oge Says:</h2>
      <div id="output">
        {{answer}}
      </div>
    </div>
  </div>
  <script src="dearoge.js"></script>
</body>

</html>
