<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/resources/front.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/resources/front.js"></script>
  <title>Dear Oge</title>
</head>

<body>
  <audio id="my_audio" src="timmy-thomas-why-cant-we-live-together.mp3" loop="loop"></audio>
  <div id="coverBanner">
    <img class="leftImage" src="http://i.imgur.com/jjyEbO9.gif">
    <img class="rightImage" src="http://i.imgur.com/jjyEbO9.gif">
  </div>


<div class="Sparkle">
    <h1> Dear Oge </h1>
  </div>


  <ul>
    <li><a href="/">Ask your Question</a></li>
    <li><a href="/waystohappy">Ways To Be Happy</a></li>
    <li><a href="/past">Past</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</frameset>



  <div align="center">
    <h2> What would you like to ask Oge?</h2>
    <form name="input_form" action="/" method="post">
      <textarea id = "text_area_box" name="message" rows="5" cols="75"> </textarea>
      <br> Name: <input name="username" type="text"> </input>
      <br>
      <button onclick="question()">Submit</button>
    </form>
  </div>

  <br>
  <br>
  <br>
  <br>
  <div id="bottomFrontPage">
    <div id="leftBottomOge">
      <img class="bodyImage" src="https://media.giphy.com/media/pE28VoAX93VgA/giphy.gif">
    </div>

    <div id="responseBox">
      <h2> Oge Says:</h2>
      <div id="output">
        {% if answer == "NEUTRAL" %}
          Loading . . .
          <script>
          $( document ).ready(function () {
            neutral_call('{{user}}', '{{text}}');
            });
          </script>
        {% else %}
        {{answer}}
        {% endif %}
      </div>
    </div>
  </div>
</body>

</html>
