<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href ="/resources/front.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src= "/resources/front.js"> </script>
    <title>Dear Oge</title>
  </head>

    <body>
    <div class="Sparkle", id= "coverBanner">
      <h1> Dear Oge </h1>
      <img class ="leftImage" src = "http://i.imgur.com/jjyEbO9.gif">
      <img class ="rightImage" src = "http://i.imgur.com/jjyEbO9.gif">
    </div>


    <ul>
      <li><a href="http://localhost:13080/">Ask your Question</a></li>
      <li><a href="http://localhost:13080/waystohappy">Ways To Be Happy</a></li>
      <li><a href="http://localhost:13080/past">Past</a></li>
      <li><a href="http://localhost:13080/about">About</a></li>
    </ul>

    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>Question</th>
        <th>Anser</th>
      </tr>
      <tr>
        <td>stuff</td>
        <td>stuff</td>
        <td>stuff</td>
      </tr>
      <tr>
        <td>stuff</td>
        <td>stuff</td>
        <td>stuff</td>
      </tr>
      <tr>
        <td>stuff</td>
        <td>stuff</td>
        <td>stuff</td>
      </tr>
    </table>
</body>
</html>
