<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/resources/front.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/resources/front.js">
  </script>
  <title>Dear Oge</title>
</head>

<body>
  <div class="Sparkle" , id="coverBanner">
    <h1> Dear Oge </h1>
    <img class="leftImage" src="http://i.imgur.com/jjyEbO9.gif">
    <img class="rightImage" src="http://i.imgur.com/jjyEbO9.gif">
  </div>


    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>Question</th>
        <th>Answer</th>
        <th>Time</th>
      </tr>
      {% for item in responses %}
      <tr>
        <td>{{ item.user }}</td>
        <td>{{ item.text }}</td>
        <td>{{ item.out }}</td>
        <td>{{ item.time_stamp }}</td>
      </tr>
      {% endfor %}
    </table>
</body>

</html>
