<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/resources/front.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/resources/front.js">
  </script>
  <style>
table, th, td {
    border: 1px solid black;
}
</style>
  <title>Dear Oge</title>
</head>



<body>
<audio id="my_audio" src="/resources/timmy-thomas-why-cant-we-live-together.mp3" loop="loop"></audio>

  <div class="Sparkle" , id="coverBanner">
    <h1> Dear Oge </h1>
    <img class="leftImage" src="http://i.imgur.com/jjyEbO9.gif">
    <img class="rightImage" src="http://i.imgur.com/jjyEbO9.gif">
  </div>


    <ul>
      <li><a href="http://localhost:13080/">Ask your Question</a></li>
      <li><a href="http://localhost:13080/waystohappy">Ways To Be Happy</a></li>
      <li><a href="http://localhost:13080/past">Past</a></li>
      <li><a href="http://localhost:13080/about">About</a></li>
    </ul>

    <table style="width:50%" align="center">
      <tr>
        {% for item in responses %}
        <th align="left" width="50%"><h2>Name:</h2> {{ item.user }}</th>
        <th align="right"><h2>Date and Time:</h2>{{ item.time_stamp.strftime("%Y-%m-%d %H:%M ") }} (UTC) </th>
      </tr>
      <tr>
        <td>{{ item.text }}</td>
        <td>{{ item.out }}</td>
      </tr>
      {% endfor %}
    </table>

</body>

</html>
