<!DOCTYPE = html>
<html>
<head>
<link rel = "stylesheet" href ="/resources/front.css" />
</head>
<body>

  <div class="Sparkle", id= "coverBanner">
    <h1> Dear Oge </h1>
    <img class ="leftImage" src = "http://i.imgur.com/jjyEbO9.gif">
    <img class ="rightImage" src = "http://i.imgur.com/jjyEbO9.gif">
  </div>


  <ul>
    <li><a href="/Users/css/Desktop/OGE-CSSI/dear-oge/templates/ways_to_happy.html">Ways To Be Happy</a></li>
    <li><a href="">Past</a></li>
    <li><a href="/Users/css/Desktop/OGE-CSSI/dear-oge/templates/about.html">About</a></li>
  </ul>

    <div align="center"><h2>Ways to be Happy</h2></div>
<p></p>

</body>
</html>
