<!DOCTYPE HTML>
<html>

<head>
  <link rel="stylesheet" href="/resources/front.css" />
  <title>About</title>
  <script src="/resources/front.js"></script>
</head>

<body>
  <audio id="my_audio" src="/resources/timmy-thomas-why-cant-we-live-together.mp3" loop="loop"></audio>

  <div class="Sparkle" , id="coverBanner">
    <h1> Dear Oge </h1>
    <img class="leftImage" src="http://i.imgur.com/jjyEbO9.gif">
    <img class="rightImage" src="http://i.imgur.com/jjyEbO9.gif">
  </div>


  <ul>
    <li><a href="http://localhost:13080/">Ask your Question</a></li>
    <li><a href="http://localhost:13080/waystohappy">Ways To Be Happy</a></li>
    <li><a href="http://localhost:13080/past">Past</a></li>
    <li><a href="http://localhost:13080/about">About</a></li>
  </ul>

  <div align="center">
    <h2>Ways to be Happy</h2></div>

  <br>

  <div align= "center">
    <ol>
      <li><a href="https://www.cityofchicago.org/city/en/depts/cacc/provdrs/care/svcs/adoption.html">Adopt a new friend</a></li>
      <br>
      <br>
      <li><a href="http://www.food.com/how-to/make-homemade-pasta-42">Make some pasta</a></li>
      <br>
      <br>
      <li><a href="http://www.freeflys.com/MoreFreeSamples">Enjoy some free stuff</a></li>
      <br>
      <br>
      <li><a href="http://www.imdb.com/title/tt0261392/">Watch a funny movie. Here's a good one</a></li>
      <br>
      <br>
      <li><a href="https://www.roughguides.com/gallery/budget-trips-20-of-the-cheapest-places-to-travel/">Travel somewhere nice. Here's nice (and cheap) ideas</a></li>
      <br>
      <br>
      <li><a href="https://media.giphy.com/media/wJNGA01o1Zxp6/giphy.gif">Realize you are not Donald Trump</a></li>
      <br>
      <br>
      <li><a href="https://media.giphy.com/media/wJNGA01o1Zxp6/giphy.gif">Buy a shirt for 6 bucks(consumer therapy)</a></li>
      <br>
      <br>
      <li><a href="https://www.thrillist.com/entertainment/chicago/free-things-to-do-in-chicago">Experience fun things. Here are suggestions for Chicago</a></li>
      <br>
      <br>
      <li><a href="http://www.free80sarcade.com/galaga.php">Play Galaga</a></li>
      <br>
      <br>
      <li><a href="http://thecmf.com/">Go to a metal show in Chicago </a></li>
      <br>
      <br>
      <li><a href="http://www.free80sarcade.com/galaga.php">Play Galaga</a></li>
      <br>
      <br>
    </ol>
  </div>

  <img src="https://images.pexels.com/photos/45170/kittens-cat-cat-puppy-rush-45170.jpeg?h=350&auto=compress&cs=tinysrgb">

</body>

</html>
