
body {
  background-color: pink;

}

.Sparkle {

	font-size:20px;
	font-family:cursive;
  text-align: center;

 -webkit-text-fill-color: transparent;
 background: -webkit-linear-gradient(transparent, transparent),
             url(http://www.myspacehippo.com/files/glitterbacks/bg345.gif) repeat;
 background: -o-linear-gradient(transparent, transparent);
 -webkit-background-clip: text;
}


.ogesays {
  border-style: solid;
  border-color: green;
  margin: 2px 5px 0 1px;
  margin-right: 10px;
}

.ogeinput {
  border-style: solid;
  border-color: green;
}

.floating-box {
    display: inline-block;
    width: 350px;
    height: 500px;
    margin: 5px;
    vertical-align: middle;
    margin: auto;
    border:1px solid red;
    background: orange
}


.Sparkle {

	font-size:20px;
	font-family:cursive;
  text-align: center;

 -webkit-text-fill-color: transparent;
 background: -webkit-linear-gradient(transparent, transparent),
             url(http://www.myspacehippo.com/files/glitterbacks/bg345.gif) repeat;
 background: -o-linear-gradient(transparent, transparent);
 -webkit-background-clip: text;
}


.responseBox{
  padding-bottom: 40px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}

.header {
  border-style: solid;
  border-color: green;
}

h1 {
  font-size: 500%;
  text-align: center;
}



img.leftImage {
  padding:1px;
  border:10px solid #800000;
  top: 15px;
  align: left;
  width: 225px;
  height: 240px;
  position: absolute;
  left: 20px;
  bottom: auto;
}

img.rightImage {
  padding:1px;
  border:10px solid #800000;
  top: 15px;
  align: right;
  width: 225px;
  height: 240px;
  position: absolute;
  right: 20px;
  bottom: auto;
}



img.bodyImage{
  top:700px;
  padding-top: 240;
  padding-left: 16px;
  max-width: 800px;
  max-height: 400px;
  position: absolute;
  bottom: auto;
}


h2 {
  text-align:center;
}

p {
  text-align:center;
}

body {
  background:pink;


}

.Tatiana {
max-height: 300px;
display: block;
margin: 0 auto;
}

.Ivana {
max-height: 300px;
display: block;
margin: 0 auto;
}

.Oge {
max-height: 200px;
display: block;
margin: 0 auto;
}
