body {
  background-color: #DDD5D0;
}

h1 {
  border: 5px solid #7D1D3F;
  width: 45%;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 10px;
  margin-bottom: 40px;
  margin-top: 35px;
}

.Sparkle {
  text-align: center;
	font-size:50px;
	font-family: cursive;

 -webkit-text-fill-color: transparent;
 background: -webkit-linear-gradient(transparent, transparent),
             url(http://rs46.pbsrc.com/albums/f132/hear_my_heartbeat/glitter/MaroonGlitter.gif~c200) repeat;
 background: -o-linear-gradient(transparent, transparent);
 -webkit-background-clip: text;
}


.floating-box {
  display: inline-block;
  width: 350px;
  height: 500px;
  margin: 5px;
  vertical-align: middle;
  margin: auto;
  border: color: #7D1D3F;
}



.responseBox {
  padding-bottom: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
  margin-top: 60px;
  font-family: cursive;
  color: #DDD5D0;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}

.header {
  border-style: solid;
  border-color: green;
}

img.leftImage {
  padding: 1px;
  border: 10px solid #7D1D3F;
  top: 15px;
  align: left;
  width: 225px;
  height: 240px;
  position: absolute;
  left: 20px;
  bottom: auto;
}

img.rightImage {
  padding: 1px;
  border: 10px solid #7D1D3F;
  top: 15px;
  align: right;
  width: 225px;
  height: 240px;
  position: absolute;
  right: 20px;
  bottom: auto;
}

img.bodyImage {
  padding: 20px;
  position: absolute;
  bottom: auto;
  width: 25%;
  height: 400px;
  align: left;
}

h2 {
  text-align: center;
  color: #7D1D3F;
  font-family: cursive;
}

p {
  text-align: center;
}

.Tatiana {
  max-height: 300px;
  display: block;
  margin: 0 auto;
}

.Ivana {
  max-height: 300px;
  display: block;
  margin: 0 auto;
}

.Oge {
  max-height: 200px;
  display: block;
  margin: 0 auto;
}

#responseBox {
  margin-left: 30%;
  text-align: center;
  font-size: 24px;
  width: 70%;
  align: right;
}

#text_area_box {
  font-size: 24px;
}

#leftBottomOge {
  width: 25%;
}
